@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #182932;
    --color2: #14303E;
    --color3: #1F4761;
    --color4: #3488AC;
    --color5: #75ABBC;
    --color6: #FDA400;
    --color7: #FDC516;
    --color8: #E9B249;
    --color9: #E19E5A;
    --color10: #E2CEA6;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
}

.navbar.navbar-expand-sm.navbar-dark {
    background-color: var(--color1);
}

.btn.btn-primary.btn-lg.nav-link.fw-semibold.px-3.mx-2 {
    background-color:var(--color3);
}

.btn.btn-primary.btn-lg.nav-link.fw-semibold.px-3.mx-2:hover {
    background-color:var(--color5);
}

.nav-item.login a {
    color: white;
}

.nav-item.login a:hover {
    color: var(--color1);
}

.btn.btn-primary {
    background-color: var(--color1);
}

.btn.btn-primary:hover {
    background-color: var(--color3);
}

.btn.btn-secondary.dropdown-toggle {
    background-color: var(--color3);
}

.logout:hover {
    background-color: red !important;
}
.dropdown-menu.dropdown-menu-dark{
    background-color: beige;
}
.dropdown-menu.dropdown-menu-dark a{
    color: black;
    font-weight: bold;
}
.dropdown-menu.dropdown-menu-dark a:hover{
    color: #ffffff;
}
.dropdown-menu.dropdown-menu-dark li:hover{
    background-color: var(--color1);
}

.pointer {
    cursor: pointer;
}

.txt-rgt{
    text-align: right;
}

.row-kegiatan{
    border-radius: 100%;
    background-color: var(--color1);
    color:white;
}

.card-organisasi{
    background-color:#D9D9D9;
    border-radius: 27px;
}

.btn-organisasi{
    font-size: 17px;
    border-radius:27px;
    font-weight: 500;
}

.logo-organisasi {
    height: 203px;
    width: 203px;
}

.ukm-title {
    margin-top:-0.6em; 
    margin-left:0.05em;
}

/* penjelasan ukm di detail organisasi*/
.ukm-desc {
    text-align: justify;
    margin-left:3em;
}

/* kasih warna tabel */
.table-striped > tbody > tr:nth-child(2n+1) > td {
    background-color: var(--color10);
}

/* detail kegiatan bagian pdf */
object {
    width:500px;
    height:600px;
}

/* detail kegiatan bagian input form */
input:disabled {
    height:46px;
}

.m-0.ms-1.mb-5.ukm-desc {
    min-height: 150px;
}