.fw-bold.text-thumbnail {
    font-size: 75px;
    margin: 0px;
}

.desc-thumb {
    text-align: justify;
    text-justify: inter-word;
}

.container.rounded-3.pt-1.pb-3.px-0 {
    min-height: 500px;
    background-color: #cfe2ff;
}