@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #182932;
    --color2: #14303E;
    --color3: #1F4761;
    --color4: #3488AC;
    --color5: #75ABBC;
    --color6: #FDA400;
    --color7: #FDC516;
    --color8: #E9B249;
    --color9: #E19E5A;
    --color10: #E2CEA6;
}

* {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #fff;
}

a {
    text-decoration: none !important;
}

body {
    background-color: var(--color2) !important;
}

.card.border-0.shadow.rounded-4.my-4 {
    background-color: var(--color1);
}

.fw-bold.m-0 {
    font-size: 65px;
}

.m-0.text-desc {
    transform: translateY(-20px);
}